.u-block-1dd3-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-1dd3-3 {
  position: absolute;
  left: 0;
  width: 50px;
  height: 50px;
}

.u-block-1dd3-4 {
  position: absolute;
  right: 0;
  width: 50px;
  height: 50px;
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 469px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 341px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 0 1px;
}

.u-section-1-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.8;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 578px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 729px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: 44px auto 59px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 646px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 338px;
  margin: 32px auto 0 0;
}

.u-section-2 .u-image-2 {
  min-height: 646px;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 30px;
}

.u-section-2 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 1px;
  margin: 516px auto 0;
}

.u-section-2 .u-layout-cell-3 {
  background-image: none;
  min-height: 646px;
}

.u-section-2 .u-container-layout-3 {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 0;
}

.u-section-2 .u-image-3 {
  height: 340px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 533px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 533px;
  }

  .u-section-2 .u-image-3 {
    height: 269px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-image-1 {
    height: 190px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 408px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-image-3 {
    height: 191px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    height: 549px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 918px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-image-3 {
    height: 552px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    min-height: 578px;
  }

  .u-section-2 .u-image-3 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
  }
}